@font-face {
    font-family: "police-base";
    src: url("./playthings.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    --couleur-claire: #F6F0F0;
    --couleur-midclaire: #F2E2B1;
    --couleur-midfonce: #522546;
    --couleur-fonce: #2C2C2C;
}

body {
    font-family: "police-base";
}

#mail {
        width: 2vw;
    
}

#logogithub {

    width: 2vw;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}
li {

    font-size: 1.25rem;
}